body{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
}

.container{
    border-radius: 18px;
    display:flex;
    align-items: center;
    flex-direction: column;
    height:70%;
    width:90%;
    background-color: hsl(0, 0%, 100%);
    gap:5%;
    padding-bottom:1%;
}
.qr-container{
    display: flex;
    justify-content: center;
    border-radius: 9px;
    background:url('./images/image-qr-code.png');
    background-size: cover;
    background-repeat:no-repeat;

    height:60%;
    margin-top: 5%;
    width:90%;
    
}
.text-container{
    justify-items: center;
    display:grid;
    gap:12%;
}
p,h1{
    font-family: 'Outfit';
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-end;
    width: 79%;
    margin: 0;
}
h1{
    font-size: 22px;
    text-align: center;
}
p{
    font-size: 15px;
    text-align: center;
    font-weight:400;
    color: hsl(220, 15%, 55%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-height:700px) {
    .container{
        width:22%;
        height:60%;
    
    }
    
}